[submodule "roles/jnv.unattended-upgrades"]
	path = roles/jnv.unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades.git
[submodule "roles/telegraf"]
	path = roles/telegraf
	url = https://github.com/rossmcdonald/telegraf.git
