password_file /etc/mosquitto/mosquitto_passwd
allow_anonymous false

# Telegraf
listener 1888

# TLS listener
listener {{ mosquito.port }}
cafile /etc/mosquitto/tls/ca.crt
certfile /etc/mosquitto/tls/{{ inventory_hostname }}.fieldtracks.org.crt
keyfile /etc/mosquitto/tls/{{ inventory_hostname }}.fieldtracks.org.key
require_certificate false

# Websocket listener
listener {{ mosquito.websocket_port }}
protocol websockets
certfile /usr/local/dehydrated/lib/certs/{{ inventory_hostname }}.fieldtracks.org/fullchain.pem
keyfile /usr/local/dehydrated/lib/certs/{{ inventory_hostname }}.fieldtracks.org/privkey.pem
require_certificate false
